.field {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    font-size: 0.8em;
    resize: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    outline:none;
    padding: 0.5em;
    overflow: auto;
    white-space: pre;
}

.fieldOuter{
    flex: 1;
    overflow-y: hidden;
}