.App-logo {
  height: 4.7em;
  width: auto;
  pointer-events: none;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.7));
}

*{
  box-sizing: border-box;
}

.App-header {
  height: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

body{
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: url("./assets/background.avif") no-repeat center center fixed;
  background-size: cover;
}

.field {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  font-size: 0.8em;
  resize: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
  outline:none;
  padding: 0.5em;
  overflow: auto;
  white-space: pre;
}

.fieldOuter{
  height: 100%;
}

.column{
  height: 70svh;
  display: flex;
  flex-direction: column;
  min-width: 30svw;
}

#column1, #submitCode{
  flex: 1 0 50%;
}

#column2, #moreInfo{
  flex: 1 0 30%;
}

.form{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#extra{
  display: flex;
  justify-content: space-around;
  width: 100%;
  column-gap: 50px;
}

#App{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

#document{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 50px;
}

label, a{
  color: whitesmoke;
  filter: drop-shadow(2px 4px 6px black);
}
#submit{
  border: none;
  background: darkgreen;
  color: whitesmoke;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px black);
  min-width: 20svw;
  min-height: 5svh;
  font-size: 0.9em;
}

.error
{
  text-decoration: underline;
  text-decoration-color: red;
}